<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="28416MuhammadSaifulIslam.POLBANNewsReader" Publisher="CN=A602F516-4A5D-449B-9D48-F7B9D36F29D2" Version="1.1.0.0" />
  <Properties>
    <DisplayName>POLBAN News Reader</DisplayName>
    <PublisherDisplayName>Muhammad Saiful Islam</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PolbanNewsReader.Windows.App">
      <m2:VisualElements DisplayName="POLBAN News Reader" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Membaca berita terbaru dari website POLBAN (www.polban.ac.id)." ForegroundText="dark" BackgroundColor="#ffdeb8">
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#E07900" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>